section2 {
	/*margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-left: 50px;*/
	/*margin: 20px 30px 20px 50px;*/
	/*margin: 20px 30px;*/
	margin: 30px;
	/*padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	padding-left: 50px;*/
	/*padding: 30px 40px 30px 50px;*/
	/*padding: 30px 50px;*/
	padding: 50px;
	border: 1px solid #000;
}

p {
	margin: 0;
	padding: 0px;
	text-align: justify;
}

#descripcion2 {
	width: 200px;
	height: 200px;
	/*overflow: hidden;*/
	/*overflow: scroll;*/
	/*overflow-wrap: break-word;*/
	overflow-x: hidden;
	overflow-y: scroll;
}