div {
	margin: 30px;
	padding: 15px;
	text-align: center;
	border: 1px solid #000000;
}

.texto {
	font: bold 26px Verdana, sans-serif;
}

#sombra-01 {
	box-shadow: rgb(200, 200, 200) 5px 5px;
}

#sombra-02 {
	box-shadow: rgb(125, 125, 125) 5px 5px 15px;
}

#sombra-03 {
	box-shadow: rgb(125, 125, 125) 5px 5px 10px 10px;
}

#sombra-04 {
	box-shadow: rgb(200, 200, 200) 5px 5px 3px inset;
}

#sombra-05 {
	text-shadow: rgb(175, 175, 175) 3px 2px;
}

#sombra-06 {
	text-shadow: rgb(125, 125, 125) 4px 4px 5px;
}